<%- include('header') %>
         
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">PROFILE</h6>
                <form method="post" action="/profileupdate/<%=locals.user.id %>">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">NAME</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%=locals.user.username%>" name="username">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%=locals.user.email%>" name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">UPDATE PROFILE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
